*{
    font-family: 'Do Hyeon', sans-serif;
}
a{
    display: block;
    border: 1px rgba(0,0,0,.2);
    width: 400px;
    padding: 20px;
    text-align: center;
    margin: 30px auto;
    text-decoration: none;
    color: black;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
a:hover{
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    transition: 0.5s;
}